<div class="shopping-wrapper">
  <div class="search-bar">
    <input type="search" class="search" [(ngModel)]="abc" /> {{ abc }}
    <button class="btn btn-primary">Search</button>
    <div class="header-right">
      <button class="btn btn-primary cart">Cart</button>
      <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
      <app-login-page [visible]="visible"></app-login-page>
    </div>
  </div>
  <div class="dialog-wrapper">
    <div class="side-bar">
      <button class="sidebar-contents" (click)="goToHome()">Home</button>
      <button class="sidebar-contents" (click)="goAccesories()">
        Accesories
      </button>
      <button class="sidebar-contents">Denim</button>
      <button class="sidebar-contents">Footwear</button>
      <button class="sidebar-contents">Jeans</button>
      <button class="sidebar-contents">Outwear</button>
      <button class="sidebar-contents">Pants</button>
      <button class="sidebar-contents">Shirts</button>
      <button class="sidebar-contents">Tshirt</button>
      <button class="sidebar-contents">Shortss</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
